:root{
--color-navy-blue-100: #222831;
--color-light-blue-100: #A1E8EE;
--color-dark-blue-100: #515FD3;
--color-white-100: #FFFFFF;
--color-black-100: #000000;
--color-medium-blue-100: #75A0D4;

/* heading sizes (primitive) */
--font-size-18: 18px;
--font-size-20: 20px;
--font-size-28: 28px;
--font-size-50: 50px;
--font-family-montserrat: 'Montserrat', sans-serif;

/* heading sizes (semantic) */
--heading-big: var(--font-size-50);
--heading-medium: var(--font-size-28);
--heading-small: var(--font-size-20);
--heading-extra-small: var(--font-size-18);
--font-headings-primary: var(--font-family-montserrat);

/* corner radius (primitive )*/
--corner-rounded-10: 10px;
--corner-rounded-24: 24px;

/* corner radius (semantic) */
--corner-round-panels: var(--corner-rounded-24);
--corner-round-cards: var(--corner-rounded-10);
--corner-round-buttons: var(--corner-rounded-10);
}





/* ============================= */
/* LEFT PANEL (Primary Location) */
/* ============================= */

#primary-location{

/* Background is a combination of gradient + image overlay */
background:
linear-gradient(
180deg,
rgba(161,232,238,0.8),
rgba(81,95,211,0.8)
),
url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");

/* Ensure the background image fills the area nicely */
background-size:cover;
background-position:center;

color:white;
padding:40px;

/* Vertical layout */
display:flex;
flex-direction:column;

/* Push current weather toward bottom */
justify-content:space-between;
}



/* Header title (Monday) */
#primary-location header h1{
font-size:var(--heading-medium);
font-weight:600;
margin-bottom:6px;
}


/* Date */
#primary-location time{
font-size:14px;
opacity:.9; /* slightly transparent for hierarchy */
display:block;
margin-bottom:10px;
}


/* Location text */
#primary-location header p{
font-size:14px;
opacity:.9;

display:flex;
align-items:center;
gap:6px; /* space between pin icon and text */
}



/* Current weather section (icon + temperature) */
.current-weather{
display:flex;
flex-direction:column;
gap:10px;

/* pushes it down visually like the design */
margin-top:60px;
}


/* Weather icon */
.current-weather img{
width:70px;
}


/* Large temperature number */
.current-weather h2{
font-size:var(--heading-big);
font-weight:600;
}


/* Weather condition text (Sunny) */
.current-weather p{
font-size:20px;
opacity:.9;
}

