*{
box-sizing:border-box;
margin:0;
padding:0;
}

body{
font-family:var(--font-family-montserrat);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

main{
display:grid;
grid-template-columns:420px 420px;
border-radius:var(--corner-round-panels);
overflow:hidden;
}

#primary-location{
background:
linear-gradient(
180deg,
rgba(161,232,238,0.8),
rgba(81,95,211,0.8)
),
url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
background-size:cover;
background-position:center;

color:var(--color-white-100);
padding:40px;
display:flex;
flex-direction:column;
justify-content:space-between;
}

#primary-location header h1{
font-size:var(--heading-medium);
font-weight:600;
margin-bottom:6px;
}

#primary-location time{
font-size:14px;
opacity:.9;
display:block;
margin-bottom:10px;
}

#primary-location header p{
font-size:14px;
opacity:.9;
display:flex;
align-items:center;
gap:6px;
}


.current-weather{
display:flex;
flex-direction:column;
gap:10px;
margin-top:60px;
}

.current-weather img{
width:70px;
}

.current-weather h2{
font-size:var(--heading-big);
font-weight:600;
}

.current-weather p{
font-size:var(--font-size-20);
opacity:.9;
}

/* RIGHT PANEL */

#weather-details{
background-color:var(--color-navy-blue-100);
color:var(--color-white-100);
padding:35px;
display:flex;
flex-direction:column;
gap:28px;
}

/* CONDITIONS LIST */

.conditions-list{
display:grid;
grid-template-columns:1fr auto;
row-gap:12px;
font-size:14px;
letter-spacing:1px;
padding-top: 20px;
}

.conditions-list dt{
opacity:.6;
color:var(--color-white-100);
padding-left: 10px;
font-size:var(--font-size-20);
}

.conditions-list dd{
font-weight:600;
color:var(--color-white-100);
padding-right: 10px;
font-size:var(--font-size-20)
}

/* DAILY FORECAST */

.daily-forecast{
display:flex;
justify-content:space-between;
list-style:none;
gap:5px;
}

.daily-forecast li{
background:var(--color-white-100);
padding:14px;
border-radius:var(--corner-round-cards);
text-align:center;
width:70px;
display:flex;
flex-direction:column;
align-items:center;
gap:2px;
transition:0.25s;
color:var(--color-black-100);
}

.daily-forecast li:first-child{
background:var(--color-white-100);
color:var(--color-black-100);
}


.daily-forecast img{
width:26px;
}

.daily-forecast span{
font-size:14px;
font-weight:600;
color:var(--color-black-100);
}

* LOCATION BUTTON */

.location-toggle{
border:none;
background:linear-gradient(
90deg,
var(--color-light-blue-100),
var(--color-dark-blue-100)
);
padding:12px 18px;
border-radius:var(--corner-round-buttons);
color:var(--color-white-100);
font-size:var(--font-size-20);
cursor:pointer;
display:flex;
align-items:center;
gap:8px;
}


/* HOURLY FORECAST */

.hourly-forecast-widget{
background-color:var(--color-medium-blue-100);
border-radius:var(--corner-round-cards);
padding:12px;
font-size: 16px;
width:350px
}

.hourly-forecast-widget p{
margin-bottom:14px;
opacity:.9;
padding-bottom: 10px;
}

.hourly-timeline{
display:flex;
justify-content:space-between;
list-style:none;
align-items:center;
}

.hourly-timeline li{
display:flex;
flex-direction:column;
align-items:center;
gap:6px;
font-size: 14px;
}

.hourly-timeline img{
width:22px;
}




/* WIND WIDGET */

.wind-widget{
background-color:var(--color-medium-blue-100);
border-radius:var(--corner-round-cards);
padding:20px;
display:grid;
grid-template-columns:1fr 1fr;
align-items:center;
gap:20px;
}

.wind-widget header{
grid-column:1 / -1;
display:flex;
align-items:center;
gap:8px;
font-weight:600;
margin-bottom:10px;
color:var(--color-white-100);
}

.wind-data{
display:grid;
grid-template-columns:auto auto;
row-gap:8px;
column-gap:14px;
font-size: 16px;;
}

.wind-data dt{
opacity:.7;
color:var(--color-white-100);
}
.wind-data dd{
     color:var(--color-white-100); 
}



/* COMPASS */

.compass-visual{
position:relative;
width:120px;
height:120px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
padding-left: 50px;
}